<form [formGroup]="checkoutForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!(this.checkoutForm.dirty && this.checkoutForm.valid)"
      >
        Submit
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="cancelClick()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="removeClick()"
      >
        Remove
      </button>
    </mat-card-actions>
    <mat-card-header>
      <mat-card-title>Edit Current Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="isComplete">Is Complete</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              id="name"
              placeholder="Name"
              formControlName="name"
            />
            <mat-error
              *ngIf="checkoutForm.controls['name'].hasError('required')"
            >
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              id="description"
              placeholder="Description"
              formControlName="description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
