<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      Menu
    </mat-toolbar>

    <div *ngIf="view$ | async as view; else not_signed_in">
      {{ view.user.email }}

      <mat-select
        (selectionChange)="viewtodoListsSelectChange($event)"
        [value]="view.taskListId"
      >
        <mat-option *ngFor="let item of taskLists$ | async" [value]="item.id"
          >{{ item.name }}
        </mat-option>
      </mat-select>
    </div>

    <ng-template #not_signed_in>
      Not Signed In
    </ng-template>

    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of viewNavigation"
        [routerLink]="[item.link]"
      >
        {{ item.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ng-task</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
